
  
  .uploadInput {
    display: none;
  }
  
  .uploadLabel {
  color: #5e5eb1;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #5e5eb1;
  }

  .uploadLabel:hover {

    background-color: #5e5eb1;  
  color: white;
  }
  
 
  
  .imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .uploadedImage {
    border: 2px solid #00d3d3;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }


  
  .closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }



  .decreasseBtn{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgb(180, 186, 187);

  }
  .SaveBtn{
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgb(57, 138, 57);
    color: white;

  }
  .increesBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;  
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
        background-color: rgb(180, 186, 187);


  }
  
  .closeButton:hover {
    background-color: darkred;
  }


  @media (max-width: 1282px ) {

    .parImageInput {

        width: 60%!important;
    }
    
  }
  @media (max-width: 850px ) {

    .parImageInput {

        width: 70%!important;
    }
    
  }
  @media (max-width: 380px ) {

    .parImageInput {

        width: 90%!important;
    }
    
  }
  @media (max-width: 280px ) {

    .parImageInput {

        width: 97%!important;
    }
    
  }
  @media (max-width: 263px ) {

    .parImageInput {

        width: 99%!important;
    }
    
  }
  

@media (max-width : 347px) {
    

    .userDomain {

font-size: 13px;

    }
}

@media (max-width : 300px) {
    

    .userDomain {

font-size: 12px;

    }

    .Imguser {

        width: 40px;
        height: 40px;
    }

 

    .myPageTitle {

        font-size: 15px;
    }
}


@media (max-width: 440px) {

    .saveChanges , .changePassword , .updateEmail {

        width: 100%;
    }
    
}
@media (max-width: 340px) {

    .saveChanges , .changePassword , .updateEmail {
font-size: 14px;
    }
    
}
@media (max-width: 320px) {

    .saveChanges , .changePassword , .updateEmail {
        font-size: 14px !important;
    }

    .imageContainer {

      width: 210px;
      height: 210px;
    }
    
}
@media (max-width: 300px) {

    .saveChanges , .changePassword , .updateEmail {
font-size: 12px !important;
    }

    .account {

        /* background-color: red!important; */
        padding-inline:9px;
    }
    
}

@media (max-width : 275px) {
    
    .deleteAccount {

font-size: 13px;
    }


    .saveChanges , .changePassword , .updateEmail {
        width:100%!important;
            }
}