.userImage {


    background:linear-gradient(to right, aqua 12%, #74e274);
}


.domainLink {

    text-align: center;
background: linear-gradient(to right, #29d6d6 12%, #224122);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; /* For non-webkit browsers */
color: transparent;
font-size: 1.2rem;
font-weight: 500;
}
@media (max-width:582px) {

    .parentSlides {

        overflow: hidden!important;

    }

  


    
} 
@media (max-width:475px) {

    .parentSlides {

        width: 18.125rem!important;

    }

    .domainLink {
        font-size: 1rem;
        
    }

    .userImage {


        width: 220px!important;
        height: 220px!important;
    }

    .titleCreators {

        font-size: 30px!important;
    }


    
} 
@media (max-width:405px) {

    .parentSlides {

        width: 270px!important;
    }

    .domainLink {

        font-size: 0.9rem;
        
    }
    
}  
@media (max-width:384px) {

     .parentSlides {

        width: 230px!important;
    }

    .domainLink {

        font-size: 0.8rem;
        
    } 

    .userName {

        font-size: 19px;
        padding-top: 0px!important;
    }

    .userImage {


        width: 190px!important;
        height: 190px!important;
    }
    
}  
@media (max-width:330px) {

     .parentSlides {

        width: 200px!important;
    }

    .domainLink {

        font-size: 0.8rem;
        
    } 

    .userName {

        font-size: 16px;
        padding-top: 0px!important;
    }

    .userImage {


        width: 155px!important;
        height: 155px!important;
    }
    
}  
 @media (max-width:302px) {
    
    .titleCreators {

        font-size: 20px!important;
    }

    .parentSlides {

        margin-top: 12px!important;
    }
 }

@media (max-width:285px) {

     .parentSlides {

        width: 180px!important;
    }

    .domainLink {

        font-size: 0.7rem;
        
    } 

    .userName {

        font-size: 16px;
        padding-top: 0px!important;
    }

    .userImage {


        width: 125px!important;
        height: 125px!important;
    }
    
}  